<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../javascript/quiz.angular.js"></script>
	<style>
		.loginContainer{max-width:350px; width:100%; margin:0 auto;}
		.register{width:100%;}
		.inputError{color: red;}
	</style>
</head>
<body>
	<div data-ng-app="myApp" data-ng-controller="myController">
		<div class="gridContainer container">
			<div class="registrationContainer">
				<form name="userReg" data-ng-submit="userRegistration(reguser);">
					<div class="panel panel-info">
						<div class="panel-heading text-center">Participant Login details</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-sm-4">
									<div class="userImage">
										<img src="../images/aps-quiz/aps-user-image.jpg" />
									</div>
								</div>
								<div class="col-sm-8 nameCont">
									<div class="form-group">
										<label >First Name</label>
										<span class="inputError" data-ng-show="userReg.fName.$touched && userReg.fName.$invalid">Please provide valid First Name.</span>
										<div class="input-group">																				
											<div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
											<input class="form-control" type="text" id="fName" name="fName" data-ng-model="reguser.fName" placeholder="First Name" required/>	
										</div>
									</div>
									<div class="form-group">
										<label class="control-label" for="fName">Last Name</label>
										<span class="inputError" data-ng-show="userReg.lName.$touched && userReg.lName.$invalid">Please provide valid Last Name.</span>
										<div class="input-group">											
											<div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
											<input class="form-control" type="text" id="lName" name="lName"  data-ng-model="reguser.lName" placeholder="Last Name" required/>	
										</div>
									</div>
									
									<div class="form-group">
										<label class="control-label" for="userID">User ID</label>
										<span class="inputError" data-ng-show="userReg.userID.$touched && userReg.userID.$invalid">User ID must be between 8 to 10 characters.</span>
										<div class="input-group">											
											<div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
											<input class="form-control" id="userID" type="text" name="userID" data-ng-model="reguser.userID" placeholder="User ID" required pattern=".{8,30}"/>	
										</div>
									</div>
									
									<div class="form-group">
										<label class="control-label" for="password">Password</label>
										<span class="inputError" data-ng-show="userReg.password.$touched && userReg.password.$invalid">Password must be between 10 to 20 characters.</span>
										<div class="input-group">											
											<div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
											<input class="form-control" id="password" type="password" name="password" data-ng-model="reguser.password" placeholder="Password" required pattern=".{10,20}"/>	
										</div>
									</div>
									<div class="form-group">
										<label class="control-label" for="conPassword">Confirm Password</label>
										<span class="inputError" data-ng-show="(userReg.conPassword.$touched && userReg.conPassword.$invalid) && (userReg.Password != userReg.conPassword)">Your password should match.</span>
										<div class="input-group">											
											<div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
											<input class="form-control" id="conPassword" type="password" name="conPassword" data-ng-model="reguser.conPassword" placeholder="Confirm Password" required pattern=".{10,20}"/>	
										</div>
									</div>
									<div class="form-group">
										<div class="col-xs-6 ">
											<div class="input-group text-center">									
												<button type="submit" class="btn btn-success" data-ng-disabled="userReg.$invalid"><span class="glyphicon glyphicon-save"></span>&nbsp;&nbsp;Create an Account</button>										
											</div>
										</div>										
									</div>
								</div>
							</div>
						</div>
					</div>					
				</form>
			</div>
		</div>	 
	</div>
</body>
</html>